body {
    font-family: 'Segoe UI', sans-serif;
    color: #111;
    background-color: #fff;
    margin: 0;
}

.hero img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.promo-section {
    display: flex;
    padding: 50px 10%;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.promo-section.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    min-width: 300px;
}

.image {
    flex: 1;
    min-width: 300px;
}

.image img {
    width: 100%;
    border-radius: 12px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p:not(.login-message) {
    margin-bottom: 15px;
}

ul:not(.icon-menu-bar, .login, .register) {

    margin-bottom: 15px;
    padding-left: 20px;
}

.thtt {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
    color: #005faa;
    text-decoration: none;
}

.thtt.btn {
    background-color: #005faa;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
}

.bannerkhuyenmai {
    object-fit: cover;
}